<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeServiceApp">
        <activity
            android:name=".ShowUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ShowCompletedBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ShowRejectedBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ShowPendingBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateBookingStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ShowAcceptedBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ShowPendingDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".EditServiceActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyPendingDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AddServiceActivity" />
        <activity android:name=".ShowServiceActivity" />
        <activity android:name=".ShowProviderActivity" />
    </application>

</manifest>